extends /__base.pug

block config
  - const title = "Ajouter un joueur"

append header
  include /.inc/nav.inc.pug

block main
  div.h-100.w-100.d-flex.justify-content-center.align-items-center
    include /.inc/player-form.inc.pug
    +playerForm(`/admin/${routes.ADD_PLAYER}`, "Ajouter")