extends /__base.pug

append header
  include /.inc/nav.inc.pug

block main
  div
    p=match.date
    p=match.city
    div.players
      each email in match.players
        player-fetcher(data-email=email)